/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 16, 2017, 5:04:09 PM
    Author     : MaxwellDonkor
*/
@import url(http://weloveiconfonts.com/api/?family=brandico);
@import url(http://weloveiconfonts.com/api/?family=zocial);

.navbar-header button {
    color: #122b40;
    border: 1px solid #a94442;
}

.navbar-brand>img{
    height: 100%;
    width: auto;
}



.navbar-brand {
    margin: 0px;
    padding: 0px;
}

#navbarlist li {
    font-weight: bold;
    font-size: 1.8em;
    /*font-family: 'Roboto Slab', serif;*/
    font-family: 'Pangolin', cursive;
    color: #770d9c;
    
}

body {
    background-color: #35F2F2;
}

#image {
    background-color: #fff;
}



/* zocial */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}



/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}
#footer ul {
    list-style: none;
    font-size: 2em;
    padding: 0;
}

#footer li {
    display: inline;
    padding: 5px;
    color: #770d9c;
}

#video {
    box-shadow: 1px 1px 5px #770d9c, -1px -1px 5px #770d9c;
}

#desc {
    padding: 35% 5%;
    height: 100%;
}

blockquote {
    border: 0px;
    line-height: 35px;
    font-family: 'Kurale', serif;
    font-weight: bolder;
    font-size: 1.5em;
}

.red {
    color: red;
}

.form-area {
    padding: 10px 40px 60px;
    margin: 10px 0px 60px;
}